<div class="card">
    <div class="card-header {{ question.isActive?: 'alert-dismissible alert-secondary' }}" id="heading{{ question.id }}">
        <h3 class="mb-0 d-flex">
            <div class="d-flex align-items-center">
            {% set question_with_vote = findQuestionAndVotes(question.id) %} 
            {% set vote_value = false %}
                <span class=" badge pt-2 pb-2 badge-dark badge-pill">{{ question.viewsCounter }}&nbsp;<i class="far fa-eye"></i>
                {% if question_with_vote %}
                    <br>{{ question_with_vote.voteForQuestions |length }}&nbsp;<i class="fas fa-heart"></i>
                    {% for vote in question_with_vote.voteForQuestions %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') and vote.user.id == app.user.id %}
                            {% set vote_value = true %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </span>
            </div>
            <button class="btn w-100 btn-link {% if not loop.first %}collapsed{% endif %}" data-toggle="collapse" data-target="#collapse{{ question.id }}" aria-expanded="false" aria-controls="collapse{{ question.id }}">
                <h4 class="h4 font-weight-bold text-center">{{ question.title }}</h4>
                <p class="h6 text-italic text-center">Par 
                    <span class="font-weight-bold">
                        <img class="avatar-image" src="{{ question.user.image?:'http://image.noelshack.com/fichiers/2015/12/1426650974-quiz-les-personnages-de-tintin-5472.jpeg' }}" alt="avatar{{ question.user.id }}">
                        &nbsp;{{ question.user.username }} 
                    </span> 
                le {{ question.createdAt |date("d/m/Y") }} </p>
            </button>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="w-25 d-flex flex-wrap">
                    {% if is_granted('ROLE_MODERATOR') %}
                        <div class="p-2 m-auto text-center">
                            {% include 'question/_edit_status_form.html.twig' %}
                        </div>
                    {% endif %}
                        <div class="p-2 m-auto text-center">
                            {% include 'question/_edit_vote_form.html.twig' %}
                        </div>
                </div> 
            {% endif %}
        </h3>
            <div class="d-flex flex-wrap justify-content-center">
                {% for tag in question.tags %}
                    <button type="button" class="btn btn-link"><a href="{{ path('question_indexByTag', {id: tag.id })}}" class="link">
                    {{ tag.name }}
                </a></button>
                {% endfor %}
            </div>

    </div>
    <div id="collapse{{ question.id }}" class="collapse {% if loop.first %}show{% endif %}" aria-labelledby="heading{{ question.id }}" data-parent="#accordion">
        <div class="card-body">
            {{ question.body|truncate(300) }}
            <p class="lead text-center mt-2">
                <a class="btn btn-primary btn-lg " href="{{ path('question_show', {id: question.id })}}" role="button">Lire la suite</a>
            </p>
{#             <hr class="my-4">
            <div class="d-flex justify-content-center">
                <p class="text-center lead h3">Vote(s) : </p>
            </div> #}
        </div>
    </div>
</div>