{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block main %}
    <div class="jumbotron">
    {% include 'question/_question_information.html.twig' %}

    <hr class="my-4">
    {% include 'question/_answers_list.html.twig' %}
    
    <hr class="my-4">

    <h2 class="text-center">Proposer une réponse !</h2>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">Proposer cette nouvelle réponse</button>
            {{ form_end(form) }}
        {% else %}
            <div class="h5 card border-info ml-auto mr-auto mb-3 text-center w-50">
                <div class="card-header">Il est nécessaire d'être connecté avec un compte utilisateur pour rédiger une réponse !</div>
                <img class="w-100" src="https://cdn.pixabay.com/photo/2017/01/04/12/01/space-1951858_960_720.png" alt="go">
                <div class="card-body">
                    <a href ="{{ path('app_login')}}" class="card-title">Se connecter</a> ou 
                    <a href ="{{ path('user_new')}}" class="card-title">Créer un compte</a>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

