{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block main %}
     <h2 class="h2">Administration des utilisateurs</h2>

     <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom d'utilisateur</th>
                <th>Avatar</th>
                <th>Email</th>
                <th>Droits</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>
                    <img class="avatar-image" src="{{ user.image ?:'http://image.noelshack.com/fichiers/2015/12/1426650974-quiz-les-personnages-de-tintin-5472.jpeg' }}" alt="avatar{{ user.id }}">
                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.role.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('backend_user_show', {id: user.id}) }}">
                        <i class="fas fa-eye"></i>
                    </a>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalCenter{{ user.id }}">
                    <i class="fas fa-edit"></i>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="ModalCenter{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLongTitle">Changer les droits d'utilisateur</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {% if user.role.name != "Administrateur" %}
                                    {% include 'backend/user/_edit_role_form.html.twig' %}
                                {% else %}
                                    <p>Il n'est pas possible de modifier les droits d'un Adminisatrateur</p>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
