{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block main %}
    <h2>Mettre à jour son profil</h2>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Mettre à jour les informations de son profil</button>
    {{ form_end(form) }}
{% endblock %}
